<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Support.ConfigureRemoteAddress,Sitecore.Support.136023" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.StartMeasurements, Sitecore.Kernel']" >
          <!--  Configuration for IP extractor from custom header for jsn logger -->
          <IPExtractor type="Sitecore.Support.ListBasedExtractor, Sitecore.Support.136023">
            <!--  Name of custom header -->
            <HeaderName>X-Forward-For</HeaderName>
            <!--  Index where actual client IP is located -->
            <HeaderIPIndex>0</HeaderIPIndex>
          </IPExtractor>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>