<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  Configuration for custom remote header for jsn logger
            Specify any custom header configured for your proxy or load balancer to specify remote address
            Defaults to "" (no customization)
      -->
      <setting name="JSNLog.RemoteAddressHeader" value="X-Forward-For" />
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Support.ConfigureRemoteAddress,Sitecore.Support.136023" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.StartMeasurements, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>